<div class="form-container">
  <div class="form-header">
    <h2>{{ edit() ? 'Editar' : 'Crear' }} Producto</h2>
    <button routerLink="/products" type="button" class="btn-back">
      <i class="fa-solid fa-arrow-left"></i> Regresar
    </button>
  </div>

  <form class="product-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="productId">Id</label>
      <input type="text" id="productId" placeholder="Ingrese un Id único" formControlName="id" />

      @if (helperForm().getError('id') && !edit()) {
        <span class="error-message">{{ helperForm().getError('id') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="productName">Nombre</label>
      <input type="text" id="productName" placeholder="Ingrese el nombre del producto" formControlName="name" />
      @if (helperForm().getError('name')) {
        <span class="error-message">{{ helperForm().getError('name') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="productDescription">Descripción</label>
      <textarea id="productDescription" placeholder="Ingrese una descripción" formControlName="description"></textarea>
      @if (helperForm().getError('description')) {
        <span class="error-message">{{ helperForm().getError('description') }}</span>
      }
    </div>

    <div class="form-group">
      <label>Logo</label>
      <input type="text" id="logo" placeholder="Url imagen: https://" formControlName="logo" />
      @if (helperForm().getError('logo')) {
        <span class="error-message">{{ helperForm().getError('logo') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="releaseDate">Fecha de Liberación</label>
      <input type="date" id="releaseDate" (change)="onReleaseDateChange($event)" formControlName="date_release" />
      @if (helperForm().getError('date_release')) {
        <span class="error-message">{{ helperForm().getError('date_release') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="date_revision">Fecha de Revisión</label>
      <input type="date" id="date_revision" formControlName="date_revision" />
      <!-- @if (helperForm().getError('date_revision')) {
        <span class="error-message">{{ helperForm().getError('date_revision') }}</span>
      } -->
    </div>

    <div class="form-actions">
      <button (click)="cleanForm()" type="button" class="btn-cancel">Limpiar</button>
      <button type="submit" class="btn-submit">{{ edit() ? 'Editar': 'Crear' }} Producto</button>
    </div>
  </form>
</div>

<app-loading [show]="loading()"></app-loading>

