@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #11101d;
  --card-bg: #ffffff;
  --modal-bg: #fdfdfd;
  --header-height: 70px;
  --transition-speed: 0.3s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}