<div class="dropdown" (click)="toggle()">
  <i class="fa-solid fa-ellipsis-vertical"></i>
  <div class="dropdown-content" [class.active]="open()">
    <button (click)="editProduct()"><i class="fa-solid fa-pen"></i> Editar</button>
    <button (click)="deleteProduct(dialogDelete)"><i class="fa-solid fa-trash"></i> Eliminar</button>
  </div>
</div>

<app-confirm-dialog 
      #dialogDelete
      (accepted)="onAcceptDelete()"
      [text]="text()">
    </app-confirm-dialog>

    
<app-loading [show]="loading()"></app-loading>
